$black : #2B2727;
$dark-black : #000000;
$white : #ffffff;
$grey : #f5f5f8;;
$gray : #484848;
$red : #bc1d1d;
$dark-red : #9b1b1b;

$content-padding-hp : 5em;
$content-padding-lp : 3em;
$content-padding : 2em;
$content-padding-mp : 1.5em;
$content-padding-sp : 1em;

$site-width: 1920px;
$content-width: 1200px;
